.page_content {
  transform: translateZ(0);
  backface-visibility: hidden;
}
#page_content {
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
}
.p_anim {
  font-size: 12px;
}

.hero_content {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
align-items: end;

   justify-content: space-between;
 
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

 width: 100%;
  justify-content: space-between;
  height: 100vh;
}
.img_hero {
  transform: translateY(150%) translateZ(0);
  width: 20vw;
}
.hero_content li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
     
}
.anim_p{
    opacity: 0;
}
.lines{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    overflow: hidden;
}
.inner_lines{
    background-color: black;
    width: 100%;
    height: 100%;

}

.inner_linesright{
    transform: translateX(-100%);
}

.inner_linesleft{
    transform: translateX(100%);
}
.hero_content ul {
    width: 100%;
        width: 40vw;
     
        padding: 0 20px;

}

.inner_linesright,
.inner_linesleft {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.img_hero {
  transform: translateZ(0);
  backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.anim_p {
  backface-visibility: hidden;
}

h1 {
  backface-visibility: hidden;
  perspective: 1000px;
}

.char-wrapper {
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translateZ(0);
}

